{% extends "base_generic.html" %}

{% block content %}
  <div class="container-fluid btn btn-primary border-danger border-5 rounded-pill">
    <h1>Library Management System</h1>
  </div>
  <br>
  <br>
  <p> {{isPro}}</p>
  <p class="fs-4 text">The library has the following record counts:</p>
  <ul>
    <li class="fs-5 text"><strong>Books:</strong> {{ num_books }}</li>
    <li class="fs-5 text"><strong>Copies:</strong> {{ num_instances }}</li>
    <li class="fs-5 text"><strong>Copies available:</strong> {{ num_instances_available }}</li>
    <li class="fs-5 text"><strong>Authors:</strong> {{ num_authors }}</li>
  </ul>
  <p class="fs-6 text"> You have visited this page {{num_visits}} time{{num_visits|pluralize}}.
  </p>
{% endblock %}
