{% extends "base_generic.html" %}



{% block content %}
  <form class="mt-5" method='GET' action="{% url 'author-search' %}">
    {% csrf_token %}
    <input type="text" id="query" name="query" placeholder="Search your fav author">
    <input type="submit" value="Search">
  </form>
  <br>

  <h1> Author List </h1>
  {% if author_list %}
  <ul>
    {% for author in author_list %}
        <li class="fs-5 text">
            <a href = "{{author.get_absolute_url }}">{{author}} </a>
        </li>
    {% endfor %}
  </ul>
  {% else %}
    <p> There is no such author. </p>
  {% endif %}


{% endblock %}