{% extends 'base_generic.html' %}

{% block content %}

    <h1> All borrowed books </h1>
    {% if bookinstance_list %}
        <div class="container fs-5">
            <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">Book</th>
                    <th scope="col">Borrower Name</th>
                    <th scope="col">Due Date</th>
                    <th scope="col">Overdue Fine</th>
                    <th scope="col">Mark Returned</th>
                  </tr>
                </thead>
                <tbody>
                {% for bookinstance in bookinstance_list %}
                    <tr>
                        <td><a href="{% url 'book-detail' bookinstance.book.pk %}">{{bookinstance.book.title}} </a> </td>
                        <td>{{bookinstance.borrower.first_name }} {{bookinstance.borrower.last_name}}</td>
                        <td>{{bookinstance.due_back}}</td>
                        <td class="{% if bookinstance.is_overdue %} text-danger {% endif %}" >{{bookinstance.fine}} INR</td>
                        <td>
                            <form method="GET" action="{% url 'mark-bookinstance-returned'  pk=bookinstance.id %}">
                            {% csrf_token %}
                            <input class="btn btn-success" type="submit" value="Mark Returned" onclick="return confirm('Are you sure to delete the issued book details and fine is collected?')" > 
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                
              </table>
        </div>  
       
    {% endif %}

{% endblock content %}

