{% extends 'base_generic.html' %}

{% block content %}
    <h1 >Book Panel</h1>
    {% if book_list %}
    <div class="container fs-5">
        <table class="table table-bordered text-center">
          <thead>
            <tr>
              <th scope="col"> Book </th>
              <th scope="col"> Deletion</th>
              <th scope="col"> Updation</th>
            </tr>
          </thead>
          <tbody>
            {% for book in book_list %}
              <tr>
            
               <td> <a href = "{{book.get_absolute_url }}"><b> {{book}} </b></a></td>
               
               <td > <div class="btn btn-warning btn-outline-info"> <a href="{% url 'book-delete' book.id %}" > Delete </a> </div></td>
               <td > <div class="btn btn-warning btn-outline-info"><a href="{% url 'book-update' book.id %}" > Update </a> </div> </td>
              
              
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% else %}
    <p>There is no book in the library.</p>
    {% endif %}

{% endblock content %}